ion-card {
  padding: 1em;
  box-shadow: 2px 7px 22px black;
}

ion-card-header{
  padding: 2em .2em;
  text-align: center;
  color: black;
  font-weight: 700;
}

ion-card-header h4 {
  margin: 0;
}

.content-btns-excluir{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-btns-excluir ion-button{
  width: 45%;
  font-weight: 700;
}