<div>

  <div>
    <!-- Obtendo as informções pelo Get de uma forma dinâmica -->
    <ion-card>
      <ion-card-header>
        <h2>Inscrito</h2>
        <img src="https://cdn-icons-png.flaticon.com/512/6276/6276686.png"
        alt="inscrito">
      </ion-card-header>

      <ion-card-content>
        <h4>Nome: </h4>
        <h4>Email:</h4>
        <h4>Telefone:</h4>
        <h4>CPF:</h4>
      </ion-card-content>

      <div class="content-btn">
        <ion-button (click)="presentAlert()" fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button>

        <ion-button fill="clear"><ion-icon name="pencil"></ion-icon></ion-button>
      </div>
    </ion-card>

  </div>





  <div *ngFor="let dados of dadosInformacoes">
    <!-- Obtendo as informções pelo Get de uma forma dinâmica -->
    <ion-card>
      <ion-card-header>
        <h2>Inscrito Icone</h2>
      </ion-card-header>

      <ion-card-content>
        <h4>Nome: {{dados.nome}}</h4>
        <h4>Email: {{dados.email}}</h4>
        <h4>Telefone: {{dados.telefone}}</h4>
        <h4>CPF: {{dados.cpf}}</h4>

      </ion-card-content>

      <ion-button fill="clear">Action 1</ion-button>
      <ion-button fill="clear">Action 2</ion-button>
    </ion-card>

  </div>
</div>