<main>
  <header>
    <figure id="logo-cafe">
      <img src="../../assets/icon/logo.png" alt="Logo-cafe">
    </figure>
  </header>
  <form #f="ngForm">

    <ion-grid>

      <ion-row>
        <ion-col>
          <label class="lbl-campos">Email</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="inp-campos" placeholder="Digite seu email" required>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label class="lbl-campos">Senha</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="inp-campos" placeholder="Digite sua senha" required>
        </ion-col>
      </ion-row>


    </ion-grid>

    <ion-grid>

      <p class="senha">Esqueceu sua senha?</p>
      <ion-row>
        <ion-col id="col-btn">
          <button id="btn-inscrever">
            <p>Inscreva-se</p>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="col-btn">
          <p id="txt-conta-entrar">Não tem uma conta? <a href="#" target="_blank" rel="noopener noreferrer">Inscreva-se</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</main>