<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
        TEste
    </ion-title> -->
  <!-- </ion-toolbar>  -->
</ion-header>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<ion-content [fullscreen]="true">

  <div class="main-login">

    <div id="header">
      <ion-header collapse="condense">

        <img src="assets/icon/logo.png" alt="Logo Tropa do Café">

        <p>Entre agora para continuar fazendo parte dessa tropa</p>


      </ion-header>
    </div>
    

    <div class="buttons">
      <ion-item>
        <ion-label position="fixed">Fixed label</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-label position="fixed">Teste</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>

     
    <ion-item>
    <ion-label position="floating">Outline input</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    </div>

  </div>


  <div id="footer">

    Não tem uma conta? <a href="#">Inscreva-se</a>

  </div>


</ion-content>