<main>
  <header>
    <figure id="logo-cafe">
      <img src="../../assets/icon/logo-tropa-café.png" alt="Logo-cafe">
    </figure>
  </header>
  <form #f="ngForm">

    <ion-grid>

      <ion-row>
        <ion-col>
          <label class="lbl-campos">Nome</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="inp-campos" placeholder="Digite seu nome">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label class="lbl-campos">Email</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="inp-campos" placeholder="Digite seu email">
        </ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col>
          <label class="lbl-campos">Telefone</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="inp-campos" placeholder="Ex: (99) 99999-9999">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label class="lbl-campos">CPF</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="inp-campos" placeholder="Ex: 123.456.789.99">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>

      <ion-row class="content-termosPrivacidade">
        <ion-col id="img-vector-termo" size="1">
          <img src="../../assets/icon/Vector.png">
        </ion-col>
      
        <ion-col size="10">
          <p id="txt-privacidade-inscrever">Ao clicar em 'inscreva-se', você concorda com os <a class="link-termos"
              href="#" target="_blank" rel="noopener noreferrer"> Termos de Serviço </a> e a <a class="link-termos"
              href="#" target="_blank" rel="noopener noreferrer"> Política de Privacidade </a> do nosso
            aplicativo</p>
      
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="col-btn">
          <button id="btn-inscrever">
            <p>Inscreva-se</p>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="col-btn">
          <p id="txt-conta-entrar">Tem uma conta? <a href="#" target="_blank" rel="noopener noreferrer">Entrar</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</main>