<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
        TEste
    </ion-title> -->
  <!-- </ion-toolbar>  -->
</ion-header>

<ion-content [fullscreen]="true">

  <div class="main-login">

    <div id="header">
      <ion-header collapse="condense">

        <img src="assets/icon/logo.png" alt="Logo Tropa do Café">

        <p>Entre agora para continuar fazendo parte dessa tropa</p>


      </ion-header>
    </div>
    


    <div class="buttons">

      <ion-button shape="round" color="light" class="bt_email" name="logo-email">
        Entre com Email
      </ion-button>

      <ion-button shape="round" color="" class="bt_facebook">
        <ion-icon name="logo-facebook"></ion-icon>
        Entre com Facebook
      </ion-button>

      <button class="tt">
        <img src="../../assets/icon/google.png" alt="Logo Google" class="icons_logo" />
        <span class="txt_bt">Entre com o Google</span>
      </button>
        
    
      
    </div>

  </div>


  <div id="footer">

    Não tem uma conta? <a href="#">Inscreva-se</a>

  </div>


</ion-content>