#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 28%;
}

#logo-cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.4em;
}

#txt-privacidade-inscrever {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin: 0;

  color: #000000;
}

.link-termos {
  text-decoration: none;
}
