<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
        TEste
    </ion-title> -->
  <!-- </ion-toolbar>  -->
</ion-header>

<ion-content [fullscreen]="true">

  <div class="main-login">

    <div id="header">
      <ion-header collapse="condense">

        <img src="assets/icon/logo.png" alt="Logo Tropa do Café">

        <p>Entre agora para continuar fazendo parte dessa tropa</p>


      </ion-header>
    </div>




    <div class="buttons">

      <ion-button class="bt_email" name="logo-email">
        Entre com Email
      </ion-button>

      <ion-button class="bt_facebook">
        <ion-icon name="logo-facebook"></ion-icon>
        Entre com Facebook
      </ion-button>

      <ion-button class="bt_google" name="logo-google">
        <ion-icon name="logo-google"></ion-icon>
        Ente com Google
      </ion-button>

    </div>

  </div>


  <div id="footer">

    Não tem uma conta? <a href="#">Inscreva-se</a>

  </div>


</ion-content>