#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 28%;
}

#container ion-row {
  padding: 0.1em;
}

.lbl-campos {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5e7389;
}

#logo-cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.4em;
}

.content-termosPrivacidade {
  align-items: center;
  justify-content: center;
}

#img-vector-termo {
  padding-top: 0.6em;
}

#txt-privacidade-inscrever {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin: 0;

  color: #000000;
}

.link-termos {
  text-decoration: none;
  color: #1129F9;
}

#col-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-inscrever {
  height: 64px;
  width: 366px;
  border-radius: 33px;
  background: #0778f2;
}

#btn-inscrever {
  font-family: "Poppins";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}

#txt-conta-entrar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #5e7389;
}

#txt-conta-entrar a {
  text-decoration: none;
  color: #0921FB;
}
